@font-face {
    font-family: 'VT323';
    src: url('https://fonts.googleapis.com/css?family=VT323') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: 'VT323', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: black; 
    color: white; 
}

.container {
    text-align: center;
}

.line {
    opacity: 0;
    transform: translateY(3px);
    transition: opacity 1s, transform 1s;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

#newGameBtn {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'VT323', sans-serif;
}

#continueGameBtn {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'VT323', sans-serif;
}

.plus-sign {
    position: absolute;
    top: 20px; /* Adjust the top position */
    left: 20px; /* Adjust the left position */
    width: 10px;
    height: 1px;
    background-color: white;
    transform: translate(-50%, -50%);
    opacity: 0;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7); /* Add diffuse glow effect */

    &::before,
    &::after,
    .trail {
        content: '';
        position: absolute;
        width: 5px; /* Adjust the width of the trail */
        height: 20px; /* Adjust the height of the trail */
        background-color: white;
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7); /* Add diffuse glow effect */
        transform-origin: center bottom; /* Adjust the transform origin for the trail */
    }

    &::before {
        transform: rotate(90deg);
    }

    &::after {
        transform: rotate(180deg);
    }

    .trail {
        bottom: 0; /* Align the trail to the bottom of the plus sign */
        left: 50%;
    }
}
