body {
    margin: 0;
    font-family: 'VT323', sans-serif;
}

.line {
    opacity: 0;
    transform: translateY(3px); /* Adjusted initial y value */
    transition: opacity 1s, transform 1s;
    margin-bottom: 20px;
    font-size: 24px; /* Adjusted font size */
    font-weight: bold; /* Added font weight for emphasis */
}

#newGameBtn {
    padding: 10px 20px;
    font-size: 16px;
}
