@font-face {
    font-family: 'VT323';
    src: url('https://fonts.googleapis.com/css?family=VT323') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'VT323', sans-serif;
}

.line {
    opacity: 0;
    transform: translateY(3px);
    transition: opacity 1s, transform 1s;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

#newGameBtn {
    padding: 10px 20px;
    font-size: 16px;
}
