<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="line" id="line1">Life is like a game</div>
        <div class="line" id="line2">But it doesn't have to be single player</div>
        <div class="line" id="line3">
            <button id="newGameBtn" onclick="navigateToNewGame()">New Game</button>
            <button id="continueGameBtn" onclick="navigateToContinueGame()">Continue Game</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        function navigateToNewGame() {
            window.location.href = '/newgame';
            }
        function navigateToContinueGame() {
            window.location.href = '/login';
            }
    </script>
</body>
</html>
